.flex-nav {
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 2px solid #BB0052;
    display: flex;
    line-height: 50px;
    flex-wrap: wrap;
    z-index: 9999;
    width: 100%;
}

.flex-nav ul,
.brandlogo img {
    display: none;
}

.flex-nav ul.open {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.flex-nav a {
    margin: 0 auto;
    text-decoration: none;
}

.headerimg {
    width: 100vw;
    height: 98vh;
    border-bottom: 2px solid #BB0052;
}

.domore {
    display: block;
    margin: 3% auto;
}

.overlay {
    position: absolute;
    top: 4em;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}