@media only screen and (min-width: 375px) {
    
    button {
        width: 60%;
    }
    
    .ytd-code button a,
    .js-code button a,
    .fe-code button a,
    .storm-code button a {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 420px) {
    
    .work {
        margin-top: 15%;
    }
    
    .ytd-head h1,
    .js-head h1,
    .fe-head h1, 
    .storm-head h1,
    .ux-head h1 {
        margin-top: 22%;
    }
}

@media only screen and (min-width: 480px) {
    
    .about {
        margin-top: 20%;
    }
    
    .contact {
        margin-top: 20%;
    }
    
    .domore {
        display: none;
    }
    
    button,
    .ux-header button {
        width: calc(93% / 2);
        margin-right: 3%;
    }
}

@media only screen and (min-width: 550px) {
    
    .skills img {
        width: calc(76% / 4);
        margin: 3%;
    }
    
    .yaletown-header, 
    .js-header,
    .fe-header,
    .storm-header,
    .ux-header {
        margin-top: 7%;
    }
    
    .ytd-tools,
    .js-tools,
    .fe-tools,
    .storm-tools,
    .ux-tools {
        margin-top: 5%;
    }
}

@media only screen and (min-width: 620px) {
    
    .intro {
        margin-top: 5%;
    }
    
    .ytd-tools img,
    .js-tools img,
    .fe-tools img,
    .storm-tools img,
    .ux-tools img {
        width: calc(90% / 5);
        height: 100%;
        margin: 3%;
    }
}

@media only screen and (min-width: 678px) {
    
    .work a {
        width: 50%;    
    }
    
    .about img {
        width: 50%;
    }
    
    .contact {
        margin-top: 15%;
    }
    
    .contact-info {
        margin-left: 5%;
    }
    
    .ytd-head h1,
    .js-head h1,
    .fe-head h1, 
    .storm-head h1,
    .ux-head h1 {
        margin-top: 15%;
    }
    
    .buttons {
        width: 100%;
    }
    
    button {
        width: calc(91% / 3);
        margin-right: 3%;
    }
    
    .ux-header button {
        width: calc(60% / 2);
    }
    
    button a {
        font-size: 1em;
    }
    
    .js-wf-01 {
        display: none;
    }
    
    .js-wf-02 {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    
    .toggleNav,
    .mobilehome {
        display: none;
    }
    
    .brandlogo img {
        display: block;
        height: 47px;
        margin: 2px auto;
    }
     
    .flex-nav ul {
        display: flex;
        width: 100%;
        height: 50px;
    }
    
    .flex-nav li {
        width: calc(100% / 5);
        text-align: center;
    }
    
    .domore {
        display: block;
    }
    
    .about-me {
        width: 45%;
        margin-right: 5%;
    }
    
    .skills {
        margin-top: 15%;
    }
    
    .ytd-tools img,
    .js-tools img,
    .fe-tools img,
    .storm-tools img,
    .ux-tools img {
        width: calc(80% / 6);
        height: 100%;
        margin: 3%;
    }
    
    .ytd-main-images {
        align-items: flex-end;
        margin: 5% auto;
    }
    
    .ytd-main-images figure {
        width: 44%;
        margin: 0% 3%;
    }
    
    .ytd-code-cols,
    .js-code-cols,
    .fe-planning .planning,
    .fe-design .design-content {
        display: flex;
        margin-bottom: 10%;
        margin-top: 5%;
    }
    
    .fe-planning .planning,
    .fe-design .design-content {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
    
    .fe-planning .planning p {
        width: 45%;
        margin-right: 10%;
    }
    
    .fe-design .design-content p {
        width: 45%;
        margin-left: 10%;
    }
    
    .fe-planning .planning figure,
    .fe-design .design-content figure {
        width: 45%;
    }
    
    .ytd-col-01 {
        width: 170%;
        margin-right: 8%;
    }
    
    .js-code-col-01 {
        width: 150%;
        margin-top: 10%;
        margin-right: 5%;
    }
    
    .ytd-col-01 button,
    .js-code-col-01 button,
    .fe-code-col-01 button,
    .storm-code-col-01 button {
        width: 65%;
    }
    
    .ytd-col-01 p {
        margin-bottom: 5%;
    }
    
    .ytd-col-02,
    .js-code-col-02 {
        margin-top: 8%;
    }
    
    .fe-code-wrapper,
    .storm-code-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    
    .fe-code-col-01,
    .storm-code-col-01,
    .fe-sass p {
        width: 45%;
        margin-top: 5%;
        margin-right: 5%;
    }
    
    .fe-code-col-02,
    .storm-code-col-02 {
        width: 45%;
        margin-top: 10%;
    }
    
    .fe-sass {
        display: flex;
        margin-top: 5%;
    }
    
    .fe-sass figure {
        width: 45%;
    }
    
    .storm-planning figure {
        width: 50%;
        margin-left: 25%;
    }
    
    .code-content {
        display: flex;
        padding-left: 8%;
    }
    
    .code-content p {
        width: 250%;
        margin: 2% 7%;
    }
}

@media only screen and (min-width: 825px) {
    
    .intro {
        display: flex;
        flex-wrap: wrap;
    }
    
    .intro-text {
        width: 45%;
    }
    
    .fe-header .intro-text {
        margin-top: 4%;
    }
    
    .ytd-tools,
    .js-tools,
    .fe-tools,
    .storm-tools,
    .ux-tools {
        width: 45%;
        margin: 0 auto;
    }
    
    .ytd-tools img {
        width: calc(67% / 6);
        height: 30%;
    }
    
    .js-tools img {
        width: calc(67% / 3);
        height: 40%;
    }
    
    .fe-tools img,
    .ux-tools img {
        width: calc(58% / 3);
        height: 35%;
    }
    
    .storm-tools img {
        width: calc(55% / 2);
        height: 38%;
    }
    
    .js-main-image {
        margin: 5% auto;
    }
    
    .js-wf-02 {
        display: none;
    }
    
    .js-wf-03 {
        display: block;
    }
    
    .group-content,
    .individual-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .group-content figure,
    .group-content p,
    .individual-content figure,
    .individual-content p {
        width: 45%;
        margin: 2%;
    }
}

@media only screen and (min-width: 875px) {

    .contact {
        margin-top: 10%;
    }
    
    .contact-info {
        margin-left: 30%;
    }
    
    .planning {
        display: flex;
        flex-wrap: wrap;
    }
    
    .ytd-planning .planning {
        flex-direction: row;
    }
    
    .ytd-planning .planning p {
        width: 45%;
        margin-top: 10%;
        margin-right: 5%;
    }
    
    .ytd-planning .planning figure {
        width: 45%;
        margin-left: 5%;
    }
    
    .js-planning .planning p {
        width: 50%;
        margin-left: 25%;
    }

    .ytd-spreads figure {
        width: calc(82% / 3);
        margin: 3%;
    }
    
    .design-content {
        display: flex;
        margin-top: 5%;
    }
    
    .ytd-design .design-content figure {
        width: 50%;
    }
    
    .ytd-design .design-content p {
        width: 50%;
        margin-top: 5%;
        margin-left: 5%;
    }
    
    .js-design .design-content .js-col-01 {
        width: 50%;
    }
        
    .js-design .design-content .js-col-02 {
        width: 50%;
        margin: 19% 4%;
    }
    
    .code-content p {
        margin-top: 10%;
    }

    .storm-long-section {
        display: flex;
    }
    
    .storm-col-01 {
        width: 45%;
        margin-top: 10%;
        order: 1;
    }
    
    .storm-col-02 {
        width: 45%;
        margin: 5% auto;
        order: 2;
    }
    
    .storm-planning figure {
        width: 70%;
        margin-top: 10%;
        margin-left: 13%;
    }
    
    .storm-design {
        margin-top: 20%;
    }
    
    .fe-code-col-01,
    .storm-code-col-01,
    .fe-sass p {
        margin-top: 10%;
    }
}

@media only screen and (min-width: 960px) {
    
    .skills img {
        width: calc(50% / 4);
        margin: 6%;
    }
    
    .ytd-head h1,
    .js-head h1,
    .fe-head h1, 
    .storm-head h1,
    .ux-head h1 {
        text-align: left;
    }
    
    button {
        width: calc(88% / 4);
    }
    
    .ux-header button {
        width: calc(40% / 2);
    }
    
    .storm-col-01 {
        width: 50%;
        margin-top: 3%;
    }
    
    .storm-col-02 {
        width: 40%;
    }
}

@media only screen and (min-width: 1024px) {
    
    .work a {
        width: calc(100% / 3);
    }
    
    .about {
        margin-top: 15%;
    }
    
    .about img {
        width: 30%;
    }
    
    .skills {
        margin-top: 10%;
    }
    
    .skills img {
        margin: 3% 6%;
    }
    
    .code-content p {
        width: 180%;
        margin-top: 17%;
    }
    
    .ytd-col-01 {
        width: 120%;
    }
    
    .js-head .intro-text,
    .storm-head .intro-text {
        margin-top: 5%;
    }
    
    .js-code-text {
        width: 80%;
        margin-left: 10%;
    }
    
    .ytd-design .design-content p {
        margin-top: 10%;
    }
    
    .js-design .design-content .js-col-02 {
        margin: 25% 4%;
    }
    
    .ytd-col-01 button,
    .js-code-col-01 button,
    .fe-code-col-01 button,
    .storm-code-col-01 button {
        width: 45%;
    }
}

@media only screen and (min-width: 1150px) {
    
    .js-design .design-content .js-col-02 {
        margin: 31% 4%;
    }
    
    .ytd-col-01 button,
    .js-code-col-01 button,
    .fe-code-col-01 button,
    .storm-code-col-01 button {
        width: 35%;
    }
}

@media only screen and (min-width: 1268px) {
    
    .ytd-head,
    .js-head,
    .fe-head, 
    .storm-head,
    .ux-head {
        width: 75%;
    }
    
    .ytd-head h1,
    .js-head h1,
    .fe-head h1, 
    .storm-head h1,
    .ux-head h1 {
        margin-top: 10%;
    }
    
    .storm-planning p {
        margin-bottom: 15%;
    }    
}

@media only screen and (min-width: 1360px) {
    
    .overlay {
        width: 40%;
        height: 93vh;
        padding-top: 5%;
    }
    
    .skills img {
        margin: 2% 6%;
    }
    
    .ytd-head,
    .js-head,
    .fe-head, 
    .storm-head,
    .ux-head {
        width: 60%;
    }
    
    .code-content p {
        margin-top: 20%;
    }
    
    .ux-header button {
        width: calc(30% / 2);
    }
    
    .ytd-col-01 button,
    .js-code-col-01 button,
    .fe-code-col-01 button,
    .storm-code-col-01 button {
        width: 40%;
    }
}

@media only screen and (min-width: 1525px) {
    
    .contact-info {
        margin-left: 35%;
    }
    
    .ytd-head,
    .js-head,
    .fe-head, 
    .storm-head,
    .ux-head {
        width: 55%;
    }
}