@font-face {
    font-family: "Noto";
    src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: "Patrick";
    src: url(../fonts/PatrickHand-Regular.ttf);
}

@font-face {
    font-family: "Rocksalt";
    src: url(../fonts/RockSalt.ttf);
}

@font-face {
    font-family: "Gochi";
    src: url(../fonts/GochiHand-Regular.ttf);
}

a {
    font-family: "Rocksalt";
    font-size: 1.5em;
}

h1,
h2,
h3 {
    text-align: center;
    margin-top: 5%;
}

h1 {
    font-family: "Rocksalt";
    font-size: 3em;
}

h2 {
    font-family: "Gochi";
    font-size: 2.5em;
//    border-bottom: 2px solid #BB0052;
}

h3 {
    font-family: "Patrick";
    font-size: 2em;
    margin-bottom: 5%;
}

.color {
    color: #BB0052;
}

.contact a {
    font-size: 1.5em;
    text-decoration: none;
}

.contact h1 {
    font-family: "Rocksalt";
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.contact h4 {
    font-family: "Noto";
    font-size: 1.2em;
    line-height: 3em;
}

h5 {
    font-family: "Noto";
    font-size:1.5em;
    margin-bottom: 5%;
}

p {
    font-family: "Noto";
    font-size: 1.2em;
    line-height: 1.4em;
}

.first-char {
    float: left;
    font-size: 2em;
    padding: 2% 4% 0% 1%;
}

figcaption {
    font-family: "Patrick";
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 5%;
}