/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Noto";
  src: url(../fonts/NotoSans-Regular.ttf); }

@font-face {
  font-family: "Patrick";
  src: url(../fonts/PatrickHand-Regular.ttf); }

@font-face {
  font-family: "Rocksalt";
  src: url(../fonts/RockSalt.ttf); }

@font-face {
  font-family: "Gochi";
  src: url(../fonts/GochiHand-Regular.ttf); }

a {
  font-family: "Rocksalt";
  font-size: 1.5em; }

h1,
h2,
h3 {
  text-align: center;
  margin-top: 5%; }

h1 {
  font-family: "Rocksalt";
  font-size: 3em; }

h2 {
  font-family: "Gochi";
  font-size: 2.5em; }

h3 {
  font-family: "Patrick";
  font-size: 2em;
  margin-bottom: 5%; }

.color {
  color: #BB0052; }

.contact a {
  font-size: 1.5em;
  text-decoration: none; }

.contact h1 {
  font-family: "Rocksalt";
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em; }

.contact h4 {
  font-family: "Noto";
  font-size: 1.2em;
  line-height: 3em; }

h5 {
  font-family: "Noto";
  font-size: 1.5em;
  margin-bottom: 5%; }

p {
  font-family: "Noto";
  font-size: 1.2em;
  line-height: 1.4em; }

.first-char {
  float: left;
  font-size: 2em;
  line-height: 0.5em;
  padding: 4%; }

figcaption {
  font-family: "Patrick";
  font-size: 1.3em;
  font-style: italic;
  margin-bottom: 5%; }

* {
  box-sizing: border-box; }

.skip-link {
  position: absolute; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform; }

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.wrapper {
  width: 80%;
  margin: 0 auto; }

.work img,
.about img,
.skills img,
figure img,
.ytd-tools img {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75); }

.flex-nav {
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 2px solid #BB0052;
  display: flex;
  line-height: 50px;
  flex-wrap: wrap;
  z-index: 9999;
  width: 100%; }

.flex-nav ul,
.brandlogo img {
  display: none; }

.flex-nav ul.open {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center; }

.flex-nav a {
  margin: 0 auto;
  text-decoration: none; }

.headerimg {
  width: 100vw;
  height: 98vh;
  border-bottom: 2px solid #BB0052; }

.domore {
  display: block;
  margin: 3% auto; }

.overlay {
  position: absolute;
  top: 4em;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white; }

.work {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30%; }

.work img {
  display: block;
  width: 90%;
  margin: 15px auto; }

.about {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 30% auto 0px; }

.about img {
  display: block;
  width: 90%;
  height: 100%;
  margin: 20px auto; }

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25%; }

.skills img {
  width: 30%;
  height: 50%;
  margin: 5% auto; }

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 30%; }

.ytd-head h1,
.js-head h1,
.fe-head h1,
.storm-head h1,
.ux-head h1 {
  margin-top: 32%; }

.yaletown-header,
.js-header,
.fe-header,
.storm-header,
.ux-header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15%; }

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

button {
  width: 75%;
  background-color: white;
  border: 2px solid #BB0052;
  margin-bottom: 3%;
  justify-content: center; }

.buttons a,
.ytd-col-01 button a,
.js-code-col-01 button a,
.fe-code-col-01 button a,
.storm-code-col-01 button a {
  text-decoration: none;
  color: black;
  font-weight: bold; }

.intro {
  margin-top: 15%; }

.intro-text {
  width: 90%;
  margin: 0 auto; }

.ytd-tools,
.js-tools,
.fe-tools,
.storm-tools,
.ux-tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%; }

.ytd-tools img,
.js-tools img,
.fe-tools img,
.storm-tools img,
.ux-tools img {
  width: 25%;
  height: 100%;
  margin: 3%; }

.ytd-main-images,
.ytd-design,
.js-main-image,
.storm-col-02 {
  margin: 15% auto; }

.ytd-main-images img,
.planning img,
.ytd-spreads img,
.design-content img,
.ytd-col-01 img,
.ytd-col-02 img,
.js-code-col-02 img,
.code-content img,
.js-main-image img,
.fe-code-col-02 img,
.fe-sass img,
.storm-col-02 img,
.storm-code-col-02 img,
.group-content img,
.ux-individual img,
.html-proto img {
  width: 100%;
  margin: 4% auto; }

.js-wf-02,
.js-wf-03 {
  display: none; }

.planning {
  margin-top: 5%; }

.ytd-col-01,
.js-code-col-01,
.fe-code-col-01,
.storm-code-col-01 {
  display: flex;
  flex-direction: column; }

.ytd-code button,
.js-code button,
.fe-code button,
.storm-code button,
.prism-code {
  margin: 10% auto; }

.ytd-code button a,
.js-code button a,
.fe-code button a,
.storm-code button a {
  font-size: 1.3em; }

.design-content p,
.code-content p {
  margin-top: 10%; }

pre {
  height: 300px; }

@media only screen and (min-width: 375px) {
  button {
    width: 60%; }
  .ytd-code button a,
  .js-code button a,
  .fe-code button a,
  .storm-code button a {
    font-size: 1.2em; } }

@media only screen and (min-width: 420px) {
  .work {
    margin-top: 15%; }
  .ytd-head h1,
  .js-head h1,
  .fe-head h1,
  .storm-head h1,
  .ux-head h1 {
    margin-top: 22%; } }

@media only screen and (min-width: 480px) {
  .about {
    margin-top: 20%; }
  .contact {
    margin-top: 20%; }
  .domore {
    display: none; }
  button {
    width: calc(93% / 2);
    margin-right: 3%; } }

@media only screen and (min-width: 550px) {
  .skills img {
    width: calc(76% / 4);
    margin: 3%; }
  .yaletown-header,
  .js-header,
  .fe-header,
  .storm-header,
  .ux-header {
    margin-top: 7%; }
  .ytd-tools,
  .js-tools,
  .fe-tools,
  .storm-tools,
  .ux-tools {
    margin-top: 5%; } }

@media only screen and (min-width: 620px) {
  .intro {
    margin-top: 5%; }
  .ytd-tools img,
  .js-tools img,
  .fe-tools img,
  .storm-tools img,
  .ux-tools img {
    width: calc(90% / 5);
    height: 100%;
    margin: 3%; } }

@media only screen and (min-width: 678px) {
  .work a {
    width: 50%; }
  .about img {
    width: 50%; }
  .contact {
    margin-top: 15%; }
  .contact-info {
    margin-left: 5%; }
  .ytd-head h1,
  .js-head h1,
  .fe-head h1,
  .storm-head h1,
  .ux-head h1 {
    margin-top: 15%; }
  .buttons {
    width: 100%; }
  button {
    width: calc(91% / 3);
    margin-right: 3%; }
  button a {
    font-size: 1em; } }

@media only screen and (min-width: 768px) {
  .toggleNav,
  .mobilehome {
    display: none; }
  .brandlogo img {
    display: block;
    height: 47px;
    margin: 2px auto; }
  .flex-nav ul {
    display: flex;
    width: 100%;
    height: 50px; }
  .flex-nav li {
    width: calc(100% / 5);
    text-align: center; }
  .domore {
    display: block; }
  .about-me {
    width: 45%;
    margin-right: 5%; }
  .skills {
    margin-top: 15%; }
  .ytd-tools img,
  .js-tools img,
  .fe-tools img,
  .storm-tools img,
  .ux-tools img {
    width: calc(80% / 6);
    height: 100%;
    margin: 3%; } }

@media only screen and (min-width: 875px) {
  .contact {
    margin-top: 10%; }
  .contact-info {
    margin-left: 30%; } }

@media only screen and (min-width: 960px) {
  .skills img {
    width: calc(50% / 4);
    margin: 6%; } }

@media only screen and (min-width: 1024px) {
  .work a {
    width: calc(100% / 3); }
  .about {
    margin-top: 15%; }
  .about img {
    width: 30%; }
  .skills {
    margin-top: 10%; }
  .skills img {
    margin: 3% 6%; } }

@media only screen and (min-width: 1360px) {
  .overlay {
    width: 40%;
    height: 93vh;
    padding-top: 5%; }
  .skills img {
    margin: 2% 6%; } }

@media only screen and (min-width: 1525px) {
  .contact-info {
    margin-left: 35%; } }
